<div class="content" role="main">
    <figure class="image logo">
        <img src="assets/logo1.png">
    </figure>
    <section class="section">
        <div class="container">
            <form class="example-form">
                <app-email-input [(value)]="inputEmail" (valueChange)="handleBtnClick()"></app-email-input>
            </form>
        </div>
        <br/>
        <div class="container">
            <form class="example-form">
                <app-transaction-input [(value)]="inputAddress" (valueChange)="handleBtnClick()"></app-transaction-input>
            </form>
        </div>
    </section>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
