
<h1 class="title is-4">Transfer crypto with ease!</h1>
<p class="description">Enter the email address and send your ETH to the destination</p>
<form>
    <div class="field">
        <div class="control">
            <input class="input is-medium" type="email" [formControl]="transactionFormControl" [(ngModel)]="inputValue" name="email" placeholder="Email">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-medium" type="number" [formControl]="transactionFormControl" [(ngModel)]="inputAmount" name="amount-eth" placeholder="Amount to send in ETH">
        </div>
    </div>
    <button (click)="_formSubmit()" class="button is-block is-primary is-fullwidth is-medium">Send</button>
    <br />
    <small><em>Click send to <b>experience the future</b></em></small>
</form>
